body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A2E;
    color: white;

}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #1A1A2E;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: left;
    padding-top: 10px;
    background-color: #0B666A;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.hero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

section {
    padding-left: 50px;
    text-align: center;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;

}

h2 {
    color: #35A29F;
    text-align: center;
}

button {
    background-color: #35A29F;
    color: white;
    padding: 10px 10px; /* Increased padding for better appearance */
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Adds space between the message box and button */
    display: inline-block; /* Ensures buttons align properly */
    
    margin-bottom: 10px;
    align-items: center;
}

button:hover {
    background-color: #0B666A;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.rights-reserved {
    color: #1A1A2E;
    font-family: arial, sans-serif;
    text-align: center;

}


h1{
    text-align: center;
}
p{
    text-align: left;
}

li{
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    display: center;
}


